body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2963px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:297px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  position:absolute;
  left:1191px;
  top:212px;
  width:304px;
  height:297px;
}
#u968 {
  position:absolute;
  left:2px;
  top:140px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:171px;
}
#u969 {
  position:absolute;
  left:1224px;
  top:265px;
  width:244px;
  height:170px;
}
#u970 {
  position:absolute;
  left:2px;
  top:77px;
  width:240px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:601px;
}
#u971 {
  position:absolute;
  left:2560px;
  top:84px;
  width:403px;
  height:601px;
}
#u972 {
  position:absolute;
  left:2px;
  top:292px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  position:absolute;
  left:1559px;
  top:61px;
  width:375px;
  height:600px;
}
#u975 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u976 {
  position:absolute;
  left:1859px;
  top:75px;
  width:1px;
  height:16px;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u978 {
  position:absolute;
  left:1559px;
  top:61px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u979 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u980 {
  position:absolute;
  left:1653px;
  top:94px;
  width:167px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:2px;
  top:-2px;
  width:163px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u982 {
  position:absolute;
  left:1559px;
  top:61px;
  width:375px;
  height:20px;
}
#u983 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u984 {
  position:absolute;
  left:1559px;
  top:124px;
  width:375px;
  height:1px;
}
#u985 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u986 {
  position:absolute;
  left:1573px;
  top:93px;
  width:12px;
  height:20px;
}
#u987 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u988 {
  position:absolute;
  left:1649px;
  top:145px;
  width:169px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:1627px;
  top:214px;
  width:197px;
  height:16px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u992 {
  position:absolute;
  left:1627px;
  top:308px;
  width:295px;
  height:32px;
}
#u993 {
  position:absolute;
  left:16px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u992_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u994 {
  position:absolute;
  left:1627px;
  top:377px;
  width:289px;
  height:16px;
}
#u995 {
  position:absolute;
  left:16px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u994_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:1602px;
  top:474px;
  width:281px;
  height:37px;
}
#u997 {
  position:absolute;
  left:2px;
  top:10px;
  width:277px;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998 {
  position:absolute;
  left:1975px;
  top:190px;
  width:481px;
  height:231px;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1000 {
  position:absolute;
  left:1976px;
  top:447px;
  width:367px;
  height:187px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:86px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u1002 {
  position:absolute;
  left:2013px;
  top:525px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1004 {
  position:absolute;
  left:2068px;
  top:592px;
  width:73px;
  height:33px;
  color:#FFFFFF;
}
#u1005 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1006 {
  position:absolute;
  left:2179px;
  top:592px;
  width:73px;
  height:33px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1008 {
  position:absolute;
  left:2013px;
  top:474px;
  width:304px;
  height:29px;
  text-align:left;
}
#u1009 {
  position:absolute;
  left:2px;
  top:6px;
  width:300px;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1010 {
  position:absolute;
  left:1976px;
  top:677px;
  width:367px;
  height:187px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:86px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u1012 {
  position:absolute;
  left:2013px;
  top:755px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1014 {
  position:absolute;
  left:2068px;
  top:822px;
  width:73px;
  height:33px;
  color:#FFFFFF;
}
#u1015 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:2179px;
  top:822px;
  width:73px;
  height:33px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1018 {
  position:absolute;
  left:2013px;
  top:704px;
  width:304px;
  height:29px;
  text-align:left;
}
#u1019 {
  position:absolute;
  left:2px;
  top:6px;
  width:300px;
  word-wrap:break-word;
}
#u1020 {
  position:absolute;
  left:1495px;
  top:361px;
  width:0px;
  height:0px;
}
#u1020_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u1020_seg1 {
  position:absolute;
  left:51px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1021 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  position:absolute;
  left:327px;
  top:75px;
  width:375px;
  height:667px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1025 {
  position:absolute;
  left:627px;
  top:89px;
  width:1px;
  height:16px;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u1027 {
  position:absolute;
  left:327px;
  top:75px;
  width:375px;
  height:20px;
  color:#CC99CC;
}
#u1028 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1029 {
  position:absolute;
  left:327px;
  top:75px;
  width:375px;
  height:20px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
}
#u1031 {
  position:absolute;
  left:365px;
  top:139px;
  width:300px;
  height:82px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:33px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:278px;
}
#u1033 {
  position:absolute;
  left:365px;
  top:245px;
  width:300px;
  height:278px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:131px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1035 {
  position:absolute;
  left:1976px;
  top:941px;
  width:367px;
  height:187px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:86px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1037 {
  position:absolute;
  left:2127px;
  top:1080px;
  width:73px;
  height:33px;
  color:#FFFFFF;
}
#u1038 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u1039 {
  position:absolute;
  left:2015px;
  top:983px;
  width:300px;
  height:48px;
  text-align:center;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:758px;
  top:75px;
  width:375px;
  height:600px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:1058px;
  top:89px;
  width:1px;
  height:16px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u1046 {
  position:absolute;
  left:758px;
  top:75px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u1047 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1048 {
  position:absolute;
  left:852px;
  top:108px;
  width:167px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1049 {
  position:absolute;
  left:2px;
  top:-2px;
  width:163px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1050 {
  position:absolute;
  left:758px;
  top:75px;
  width:375px;
  height:20px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1052 {
  position:absolute;
  left:758px;
  top:138px;
  width:375px;
  height:1px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1054 {
  position:absolute;
  left:772px;
  top:107px;
  width:12px;
  height:20px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:583px;
}
#u1056 {
  position:absolute;
  left:759px;
  top:149px;
  width:370px;
  height:583px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:284px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058 {
  position:absolute;
  left:2127px;
  top:1097px;
  width:0px;
  height:0px;
}
#u1058_seg0 {
  position:absolute;
  left:-1187px;
  top:-4px;
  width:1187px;
  height:8px;
}
#u1058_seg1 {
  position:absolute;
  left:-1187px;
  top:-365px;
  width:8px;
  height:369px;
}
#u1058_seg2 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1059 {
  position:absolute;
  left:-824px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:171px;
}
#u1060 {
  position:absolute;
  left:27px;
  top:324px;
  width:130px;
  height:170px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:77px;
  width:126px;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:210px;
  height:21px;
}
#u1062p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:1px;
}
#u1062p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:212px;
  height:21px;
}
#u1062p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u1062p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u1062p002 {
  position:absolute;
  left:186px;
  top:-11px;
  width:22px;
  height:22px;
}
#u1062p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u1062.compound {
  width:0px;
  height:0px;
}
#u1062 {
  position:absolute;
  left:157px;
  top:408px;
  width:200px;
  height:1px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
