body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:626px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:16px;
  width:350px;
  height:626px;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:69px;
  width:10px;
  height:10px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:76px;
  width:281px;
  height:33px;
  color:#FF0000;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:58px;
  height:19px;
}
#u636p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:54px;
  height:6px;
}
#u636p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:6px;
}
#u636p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u636p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u636p002 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:4px;
  height:2px;
}
#u636p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:84px;
  width:48px;
  height:1px;
  color:#FF0000;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
