body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1212px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:592px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:9px;
  width:1200px;
  height:592px;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u554 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:312px;
  width:87px;
  height:171px;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:330px;
  width:65px;
  height:16px;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u555_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:362px;
  width:71px;
  height:16px;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u556_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:394px;
  width:71px;
  height:16px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u557_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:428px;
  width:71px;
  height:16px;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u558_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:458px;
  width:71px;
  height:16px;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u559_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u561 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:307px;
  width:86px;
  height:119px;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:325px;
  width:66px;
  height:16px;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u562_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:357px;
  width:66px;
  height:16px;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u563_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:389px;
  width:77px;
  height:16px;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u564_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:185px;
  width:326px;
  height:59px;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:287px;
  width:14px;
  height:15px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:292px;
  width:14px;
  height:15px;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
