body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:578px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:11px;
  width:1200px;
  height:578px;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:185px;
  width:376px;
  height:29px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u532 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:334px;
  width:86px;
  height:119px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:352px;
  width:66px;
  height:16px;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u533_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:384px;
  width:66px;
  height:16px;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u534_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:416px;
  width:77px;
  height:16px;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u535_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:293px;
  width:14px;
  height:15px;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
