body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:633px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:17px;
  width:350px;
  height:633px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:191px;
  width:350px;
  height:50px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:210px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:209px;
  width:11px;
  height:18px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:239px;
  width:350px;
  height:1px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:633px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:1619px;
  top:17px;
  width:350px;
  height:633px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:1619px;
  top:191px;
  width:350px;
  height:50px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:1638px;
  top:210px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:1947px;
  top:209px;
  width:11px;
  height:18px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:1619px;
  top:239px;
  width:350px;
  height:1px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:1887px;
  top:209px;
  width:50px;
  height:21px;
  color:#F2F2F2;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:208px;
  width:43px;
  height:17px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:2000px;
  top:210px;
  width:113px;
  height:17px;
  color:#FF0000;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:52px;
  height:19px;
}
#u429p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:46px;
  height:6px;
}
#u429p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:6px;
}
#u429p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u429p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u429p002 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:4px;
  height:2px;
}
#u429p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:1958px;
  top:218px;
  width:42px;
  height:1px;
  color:#FF0000;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:2000px;
  top:141px;
  width:183px;
  height:17px;
  color:#FF0000;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:52px;
  height:19px;
}
#u431p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:46px;
  height:6px;
}
#u431p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:6px;
}
#u431p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u431p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u431p002 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-1px;
  width:4px;
  height:4px;
}
#u431p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:1958px;
  top:149px;
  width:42px;
  height:1px;
  color:#FF0000;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:210px;
  width:296px;
  height:50px;
  color:#FF0000;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:80px;
  height:19px;
}
#u433p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:74px;
  height:6px;
}
#u433p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:6px;
}
#u433p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u433p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u433p002 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-1px;
  width:4px;
  height:4px;
}
#u433p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:219px;
  width:70px;
  height:1px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:79px;
  height:19px;
}
#u434p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:76px;
  height:6px;
}
#u434p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:6px;
}
#u434p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u434p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u434p002 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u434p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:219px;
  width:70px;
  height:1px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
