body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1147px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:539px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:11px;
  width:1000px;
  height:539px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:85px;
  width:17px;
  height:17px;
  color:#FFFFFF;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:85px;
  width:99px;
  height:17px;
  color:#FF0000;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:66px;
  height:19px;
}
#u141p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:60px;
  height:6px;
}
#u141p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:6px;
}
#u141p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u141p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u141p002 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-1px;
  width:4px;
  height:4px;
}
#u141p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:93px;
  width:56px;
  height:1px;
  color:#FF0000;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:71px;
  width:150px;
  height:17px;
  color:#FF0000;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:58px;
  width:104px;
  height:30px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:94px;
  height:19px;
}
#u144p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:88px;
  height:6px;
}
#u144p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:6px;
}
#u144p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u144p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u144p002 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-1px;
  width:4px;
  height:4px;
}
#u144p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:79px;
  width:84px;
  height:1px;
  color:#FF0000;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:232px;
  width:136px;
  height:17px;
  color:#FF0000;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:219px;
  width:104px;
  height:30px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:94px;
  height:19px;
}
#u147p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:88px;
  height:6px;
}
#u147p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:6px;
}
#u147p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u147p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u147p002 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:0px;
  width:4px;
  height:2px;
}
#u147p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:240px;
  width:84px;
  height:1px;
  color:#FF0000;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
