body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:736px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:22px;
  width:356px;
  height:736px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:162px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:23px;
  width:354px;
  height:162px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:51px;
  width:65px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:35px;
  width:47px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:43px;
  word-wrap:break-word;
}
#u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:759px;
  width:72px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:68px;
  word-wrap:break-word;
}
#u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:759px;
  width:71px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  word-wrap:break-word;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:759px;
  width:72px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:68px;
  word-wrap:break-word;
}
#u696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:759px;
  width:71px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  word-wrap:break-word;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:759px;
  width:71px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  word-wrap:break-word;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:186px;
  width:354px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:304px;
  width:330px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:107px;
  background:inherit;
  background-color:rgba(201, 201, 201, 0.968627450980392);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:139px;
  width:283px;
  height:107px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:425px;
  width:354px;
  height:115px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:2px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:481px;
  width:356px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:63px;
  width:150px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:107px;
  width:244px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:34px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:148px;
  width:250px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:34px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:203px;
  width:127px;
  height:37px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:2px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:291px;
  width:356px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:256px;
  width:157px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:441px;
  width:330px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:498px;
  width:330px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:551px;
  width:354px;
  height:115px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:2px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:606px;
  width:356px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:566px;
  width:330px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:626px;
  width:330px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:677px;
  width:354px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:694px;
  width:330px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:352px;
  width:354px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:369px;
  width:330px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:54px;
}
#u719p000 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:20px;
  width:50px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u719p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:4px;
}
#u719p001 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-6px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u719p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u719p002 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:42px;
  width:4px;
  height:4px;
}
#u719p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:808px;
  width:1px;
  height:44px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
