body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1274px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:633px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:13px;
  width:350px;
  height:633px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:187px;
  width:350px;
  height:50px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:206px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:205px;
  width:11px;
  height:18px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:235px;
  width:350px;
  height:1px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:633px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:13px;
  width:350px;
  height:633px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:187px;
  width:350px;
  height:50px;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:206px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:205px;
  width:11px;
  height:18px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:235px;
  width:350px;
  height:1px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:205px;
  width:50px;
  height:21px;
  color:#F2F2F2;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:204px;
  width:43px;
  height:17px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:206px;
  width:113px;
  height:17px;
  color:#FF0000;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:52px;
  height:19px;
}
#u712p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:48px;
  height:6px;
}
#u712p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:6px;
}
#u712p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u712p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u712p002 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:4px;
  height:2px;
}
#u712p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:214px;
  width:42px;
  height:1px;
  color:#FF0000;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:137px;
  width:183px;
  height:17px;
  color:#FF0000;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:52px;
  height:19px;
}
#u714p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:48px;
  height:6px;
}
#u714p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:6px;
}
#u714p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u714p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u714p002 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-1px;
  width:4px;
  height:4px;
}
#u714p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:145px;
  width:42px;
  height:1px;
  color:#FF0000;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:206px;
  width:296px;
  height:50px;
  color:#FF0000;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:80px;
  height:19px;
}
#u716p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:76px;
  height:6px;
}
#u716p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:6px;
}
#u716p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u716p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u716p002 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-1px;
  width:4px;
  height:4px;
}
#u716p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:215px;
  width:70px;
  height:1px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:79px;
  height:19px;
}
#u717p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:74px;
  height:6px;
}
#u717p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:6px;
}
#u717p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u717p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u717p002 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u717p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:215px;
  width:70px;
  height:1px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
