body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1516px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:593px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:21px;
  width:1200px;
  height:593px;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.149019607843137);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:126px;
  width:17px;
  height:40px;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.149019607843137);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:126px;
  width:17px;
  height:40px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:100px;
  width:100px;
  height:50px;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:117px;
  width:222px;
  height:60px;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:160px;
  width:209px;
  height:50px;
  color:#FF0000;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:95px;
  width:76px;
  height:60px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:95px;
  width:17px;
  height:60px;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:747px;
  height:19px;
}
#u314p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:744px;
  height:6px;
}
#u314p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:6px;
}
#u314p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u314p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u314p002 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u314p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:146px;
  width:738px;
  height:1px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
