body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1228px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:555px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:15px;
  width:1200px;
  height:555px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:218px;
  width:14px;
  height:15px;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u508 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:249px;
  width:86px;
  height:119px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:267px;
  width:66px;
  height:16px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u509_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:299px;
  width:66px;
  height:16px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u510_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:331px;
  width:77px;
  height:16px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u511_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u513 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:246px;
  width:94px;
  height:119px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:264px;
  width:85px;
  height:16px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u514_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:296px;
  width:66px;
  height:16px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u515_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:328px;
  width:66px;
  height:16px;
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u516_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:214px;
  width:14px;
  height:15px;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:110px;
  width:454px;
  height:59px;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
