body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:602px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:8px;
  width:1200px;
  height:602px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:253px;
  width:14px;
  height:15px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u483 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:284px;
  width:86px;
  height:119px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:302px;
  width:66px;
  height:16px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u484_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:334px;
  width:66px;
  height:16px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u485_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:366px;
  width:77px;
  height:16px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u486_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u488 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:290px;
  width:94px;
  height:119px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:308px;
  width:85px;
  height:16px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u489_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:340px;
  width:66px;
  height:16px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u490_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:372px;
  width:66px;
  height:16px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u491_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:258px;
  width:14px;
  height:15px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:150px;
  width:380px;
  height:59px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u495 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:293px;
  width:94px;
  height:119px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:311px;
  width:85px;
  height:16px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u496_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:343px;
  width:85px;
  height:16px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u497_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u499 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:294px;
  width:87px;
  height:171px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:312px;
  width:53px;
  height:16px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u500_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:344px;
  width:71px;
  height:16px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u501_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:376px;
  width:71px;
  height:16px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u502_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:410px;
  width:71px;
  height:16px;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u503_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:440px;
  width:71px;
  height:16px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u504_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:258px;
  width:14px;
  height:15px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:259px;
  width:14px;
  height:15px;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u508 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:294px;
  width:94px;
  height:119px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:312px;
  width:85px;
  height:16px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u509_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:344px;
  width:85px;
  height:16px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u510_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:259px;
  width:14px;
  height:15px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:184px;
  width:200px;
  height:36px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
