body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:530px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:1000px;
  height:530px;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:256px;
  width:15px;
  height:15px;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:256px;
  width:15px;
  height:15px;
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u301 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:277px;
  width:103px;
  height:119px;
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:295px;
  width:73px;
  height:16px;
}
#u302_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u302_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:327px;
  width:73px;
  height:16px;
}
#u303_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u303_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:359px;
  width:73px;
  height:16px;
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u304_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.576470588235294);
}
#u306 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:277px;
  width:103px;
  height:119px;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:295px;
  width:93px;
  height:16px;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u307_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:327px;
  width:73px;
  height:16px;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u308_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:359px;
  width:73px;
  height:16px;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u309_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:145px;
  width:222px;
  height:33px;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:178px;
  width:116px;
  height:33px;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:153px;
  width:290px;
  height:33px;
  color:#FF0000;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u313_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:369px;
  height:19px;
}
#u313p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:364px;
  height:6px;
}
#u313p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:6px;
}
#u313p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u313p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u313p002 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:-1px;
  width:4px;
  height:4px;
}
#u313p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:161px;
  width:359px;
  height:1px;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:288px;
  width:428px;
  height:66px;
  color:#FF0000;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  white-space:nowrap;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:266px;
  height:19px;
}
#u315p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:262px;
  height:6px;
}
#u315p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:6px;
}
#u315p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u315p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u315p002 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:-1px;
  width:4px;
  height:4px;
}
#u315p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:303px;
  width:256px;
  height:1px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
